* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 600;
    color: #cdd6f4;
}
.module {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
}
#custom-gentoo {
    padding-left: 10px;
    color: #89b4fa;
}
window#waybar {
    background-color: #24273a;  /* чуть светлее */
    border-bottom: 2px solid #313244;
    padding-left: 6px;
}
#clock {
    color: #89dceb;
}
#battery {
    color: #a6e3a1;
}
#battery.warning {
    color: #f9e2af;
}
#battery.critical {
    color: #f38ba8;
}
#network {
    color: #89b4fa;
}
#network.ethernet {
    background-color: transparent;
    color: #89b4fa;
}
#pulseaudio {
    color: #f5c2e7;
}
#backlight {
    color: #f9e2af;
}
#tray {
    color: #cdd6f4;
}
#workspaces {
    border: 2px solid #313244;
    border-radius: 8px;
    padding-left: 0;
    padding-right: 0;
}
#workspaces button {
    border-radius: 8px;
    color: #6c7086;
    padding-left: 8px;
    padding-right: 7px;
}
#workspaces button.focused {
    color: #cdd6f4;
    background-color: #313244;
}
#workspaces button:hover {
    background-color: #313244;
}
